<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>625096301998-hajgr14ln5rj4h0bn8qh719vaqp22kru.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.625096301998-hajgr14ln5rj4h0bn8qh719vaqp22kru</string>
	<key>API_KEY</key>
	<string>AIzaSyDr1W-ZB4zBMxugK88bXGERwSGne4dAJjY</string>
	<key>GCM_SENDER_ID</key>
	<string>625096301998</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.presetup</string>
	<key>PROJECT_ID</key>
	<string>flutter-presetup</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-presetup.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:625096301998:ios:88cf9f4c8846b429e47c3f</string>
</dict>
</plist>